header{
    // height: 65px;
    background-color: rgba(43,65,96,0);
    // background-color: rgba(43,65,96,1);
}

.logo{
    padding:0;
}

ul#primary-navigation{
    font-size: .9rem;
    text-transform: uppercase;
    align-items: center;
}

ul#primary-navigation li{
    padding-left: 79px;
}
ul#primary-navigation li a{
    font-family: 'Economica';
    font-weight: 100;
    color:#FFF;
    text-decoration: none;
}

.nav-primary .nav li a:after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    border-top-width: 1px;
    border-top-style: solid;
    opacity: 0;
    -webkit-transition: opacity 350ms;
    transition: opacity 350ms;
}

.nav-primary[data-theme=white] .nav a:after{
    border-top-color: #fff;    
}

.nav-primary[data-theme=white] .nav a:active,
.nav-primary[data-theme=white] .nav a:focus,
.nav-primary[data-theme=white] .nav a:hover {
    color: #fff;
}

.nav-primary .nav a {
    position: relative;
    display: inline-block;
    // padding: 0 0 30px;
    text-decoration: none;
}

.nav-primary .nav a:active:after,
.nav-primary .nav a:focus:after,
.nav-primary .nav a:hover:after {
    opacity: 1;
}

@media (min-width: 1140px){
.nav-primary .nav a:after {
    left: 30px;
    right: 30px;
}
}

@media(width: 320px){
    h1 {
        font-size: 22px!important;
        line-height: 13px;
    }

    h2 {
        font-size: 22px!important;
        line-height: 14px;
    }

    .section-two .column .container,
    .section-two .column a {
        width: initial!important;
    }

    .contact-column-left h1 {
        font-size: 19px!important;
        line-height: 21px!important;
    }

    .section-four h1:nth-child(2) {
        line-height: 25px!important;
     
    }

    .section-four section {
        margin: 0!important;
    }

    .local {
        font-size: 16px!important;
    }

    .phone-contact {
        font-size: 28px!important;
    }

    .email-contact {
        font-size: 21px!important;
    }

 

    .section-one{
        margin-top:25px;
    }

    .box{
        height: 34px;
        line-height: 34px;
        font-size:12px;
    }

    .form-inline{
        padding-left:0;
    }
    .contact-container {
        padding: 1px 2px;
        text-align: initial;
        font-weight: 100;
    }
  

}

@media(width: 375px){
    h1 {
        font-size: 26px;
        line-height: 18px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }

}

@media(max-width:415px){

    header{
        background-color: rgba(43,65,96,1);
    }
    .contact-container {
        padding: 1px 3px;       
    }
    h1 {
        font-size: 26px;
        // line-height: 18px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }
    #yelp-reviews{
        // display: none;
        position: absolute;
        left:0;
        right:0;
        bottom:37px;
    }    

    ul#primary-navigation li {
        text-align: center;
        margin: 0 auto;
        padding:0!important;
    }

    .field-wrap .submit-wrap{
        text-align: center;
        width: 100%;
    }

    .navbar {
        padding: .5rem 1rem;
    }

    ul#primary-navigation {   
        padding: 20px;
    }
    .email-info-container a{
        font-size: 12px;
    }
    
    .phone-info-container a{
        font-size:10px;
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar-toggler {
    border: 0!important;
    cursor: pointer;
}

// Hamburger menu styles


