#section-five{
    background-image:url('/app/uploads/2017/09/WebDesignSanDiego-black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#section-two,
#section-three,
#section-five{
    background-color: #23282D;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.headline{
        position: absolute;
        left: 1%;
        top: 20%;
        text-align: left;
        font-size: 30px;
        font-family: 'Oswald';
        text-transform: uppercase;
        font-weight: bold;        
}

.section-four h1 {
    text-align: left;
}
.section-four h3 {
    display: none;
}

.section-four h1:nth-child(2) {
    color: #9DB7C9;
    margin-bottom: 100px;    
}

.section-four section{
    float: left;
    font-family: 'Economica';
    font-weight: 100;
    margin: 20px 0;    
}
.contact-column-right p{
    text-align: right;
}

.local{
    font-size: 17px;
}

.phone-contact{
    font-size: 25px;
}
.email-contact{
    font-size: 26px;
}

.seciton-three header{
    height:0;
}

.section-four .column p {
    color:#FFF;
    font-family: 'Helvetica Neue';
    font-weight:200;
}

.section-four .column a{
    float: none;
    position: initial;
    width: auto;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
}

.section-four .blog-preview-left h2{
    width: 100%;
    line-height: 56px;
    font-size:53px;
}

.section-four .blog-preview-right h2{
    font-size: 21px;
    margin: 0;
} 

.section-five .nf-form-cont{
    clear:left;
}

.column {
    font-family: 'Economica';
    float: left;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    transition: .4s ease-in-out;
    overflow: hidden;
  }
  .column-top {
      padding:0;
  }

  .column h1 {
    line-height: 25px;
    font-size: 24px;
  }

  .column a {
      float: right;
      position: relative;
      display: inline-block;
      cursor: pointer;
  }

  .section-two .column a:before, .section-two  .column a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: 1.5px;
    background: #fff;
  }
  
  .section-two .column a:before {
    left: -2.5px;
  }
  .section-two  .column a:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .section-two  .column a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .section-two  .column a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  .section-two .over{
    position: absolute;
    z-index: 3;
    background: #2B4160;
    display: none;
  }
  section.right-side.over.column.col-lg-6{
      right:0;
  }

  .section-two .over h1{
    color: #fff;
    font-size: 34px;    
  }

  .section-two .over p {
    color: #fff!important;
}

.section-two .over a {
    color: #fff;
}

  .section-two .over .strikethrough{
    background: #fff;
}

  .section-three header{
      display: initial; 
  }

  .post header {
    height: initial;
}

  .updated{
      font-family: 'Oswald';
      text-transform: uppercase;
  }

  .section-two .column p{
    color: #9db7c9;
    font-size: 20px;
    font-weight: 100;   
  }
  .section-two-btm .right-side .container p {
    color: #FFF;
    border-left: solid 6px;
    padding-left: 15px;
}

#section-two .column-top .column p {
    height: 100px;
}
  .section-two .column p:after{
    width: 50px;
    height: 1px;
    background: #FFF;
    display: inline-block;
  }
.strikethrough {
    width: 50px;
    height: 1px;
    background: #FFF;
    display: inline-block;
}

#section-four{
    background-color:#2B4160;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

  .main{
    background-color: #2B4160;
    flex: 100%!important;
    max-width: 100%!important;
  }

@media(min-width:1075px){
    #yelp-reviews {
        width: 100%;
        position: relative;
        top: 75px;
    }
}
@media(max-width:415px){
    .headline {
        left: 4%;
        top: 5%;       
    }
    .section-two .left-side .container p{
        line-height: 20px;        
    }
    .contact-column-right p {
        margin: 0;
    }

    .learn-more{
        display: none;
    }

    #section-two{
        height: initial;
    }

    .column a {
        width: 28%;
    }

    .section-four h1:nth-child(2) {
        margin-bottom: initial;
    }

    .social-svg-list {
        display: none;
    }
    
    .single-post article.post {
        padding: initial!important;
        max-width: initial!important;
        float: initial!important;
    }

    aside.sidebar-primary {
        float: none;
        padding-top: initial;
        width: initial;
    }

    .page-error {
        font-size: 15px!important;
        width: initial!important;
    }
}

.social-svg-list{
    list-style: none;
    margin:0;
}
.social-svg-list li{
    display: inline;
}

.entry-content p span {
    color: #FFF!important;
}

.form-submit #submit{
    background-color: #97BFD9;
    color: #000;
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    width: 140px;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    background-image: url(/app/uploads/2017/09/iconmonstr-note-31.svg);
    background-repeat: no-repeat;
    background-position: 115px 8px;
    background-size: 12px;
    float: right;    
}

.comment-form input[type=submit]:focus{
    box-shadow: none;
}

.search .main, 
.error404 .main{
    padding: 90px;
    height: 200vh;
}

.error404 input.search-field {
    width: 235px!important;
}
.error404 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.error404 .container h1{
    font-size: 130px;
    color: #213653;
    line-height: 120px;
}

.page-error{
    font-family: 'Economica';
    font-size: 18px;
    width: 25%;
    text-align: center;
    line-height: 20px;    
}

.search-form .search-submit:focus{
    box-shadow: none;
}

@media(width:375px){
    .section-four section {
        margin: 0!important;
    }
    .local {
        font-size: 16px!important;
    }
    .phone-contact {
        font-size: 32px!important;
    }
    .email-contact {
        font-size: 25px!important;
    }

    .contact-column-left h1 {
        font-size: 23px;
        line-height: 13px;
    }

    .section-four h1:nth-child(2) {
        font-size: 38px;
        line-height: 30px;       
    }
}


@media(max-width:415px){
    .search-form label{
        margin:0;
    }
    .section-two-btm .column p {
        font-size: 16px!important;
        line-height:16px!important;
    }

    .request-a-quote {
        margin: 0;
    }

    .section-four .column p {
        line-height: initial;
    }
}

@media(width:360px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 24px;        
    }
}
.container.amp-success-page {
    height: 100vh;
}

//AMP form contact-form styles
#wpcf7-f91-o1 p:nth-child(2),
#wpcf7-f91-o1 p:nth-child(3),
#wpcf7-f91-o1 p:nth-child(4),
#wpcf7-f91-o1 p:nth-child(5),
#wpcf7-f91-o1 p:nth-child(6)
{
    max-width: 25%;
    float: left;
    padding-left:15px;
    padding-right: 15px;
    opacity:.2;
    transition: 1s ease-in-out;
    width:100%;
}

#wpcf7-f92-o2 p:nth-child(2),
#wpcf7-f92-o2 p:nth-child(3),
#wpcf7-f92-o2 p:nth-child(4)
{
    max-width: 33.3333333333%;
    float: left;
    padding-left:15px;
    padding-right: 15px;
    opacity:.2;
    transition: 1s ease-in-out;
    width:100%;
}
#wpcf7-f92-o2 p:nth-child(5){
    clear:left;
    transition: 1s ease-in-out;    
    opacity:.2;
    width:100%;
    padding-left:15px;
    padding-right: 15px;
}

#wpcf7-f91-o1 p:nth-child(7),
#wpcf7-f92-o2 p:nth-child(7){
    clear:left;    
    float:right;
}

#wpcf7-f91-o1 .wpcf7-form p:hover,
#wpcf7-f92-o2 .wpcf7-form p:hover{
    opacity:1;
}

#wpcf7-f91-o1 .wpcf7-form label,
#wpcf7-f92-o2 .wpcf7-form label{
    text-align: left;
    font-family: 'Economica';
    width: 100%;    
}

#wpcf7-f91-o1 .wpcf7-form input,
#wpcf7-f92-o2 .wpcf7-form input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #FFF;
    outline: none;
    color: #FFF;
    font-family: 'Economica';
    width:100%;
}

form.amp-form-submit-error [submit-error], 
form.amp-form-submit-success [submit-success], 
form.amp-form-submitting [submitting] {
    display: block;
    clear: left;
}

#wpcf7-f91-o1 .wpcf7-form p .submitBtn,
#wpcf7-f92-o2 .wpcf7-form p .submitBtn{
    clear:left;
    float:right;
    border:none;
    cursor:pointer;
    width: initial;    
}

#wpcf7-f91-o1 form.amp-form-submit-error [submit-error] {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 205px;        
        transition: 1s ease-in-out;
    }

#wpcf7-f92-o2 form.amp-form-submit-error [submit-error] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s ease-in-out;
}
    #rendered-message-amp-form-0{
        transition: 2s ease-in-out;
        margin: 21px 0;
    }
    @media(max-width:415px){
        #wpcf7-f91-o1 p:nth-child(2),
        #wpcf7-f91-o1 p:nth-child(3),
        #wpcf7-f91-o1 p:nth-child(4),
        #wpcf7-f91-o1 p:nth-child(5),
        #wpcf7-f91-o1 p:nth-child(6){
            max-width:100%;
        }
        #wpcf7-f92-o2 p:nth-child(2),
        #wpcf7-f92-o2 p:nth-child(3),
        #wpcf7-f92-o2 p:nth-child(4),
        #wpcf7-f92-o2 p:nth-child(5),
        #wpcf7-f92-o2 p:nth-child(6){
            max-width:100%;
        }

        #rendered-message-amp-form-0 {
            margin: 0;
            font-size: 14px;
        }
    }

    .ampcustom{
        display: none;
    }