#section-one{
    background-color: #2B4160;
    background-image:url('/app/uploads/2017/09/WebDesignSanDiego-cyanotype.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position:relative;
}
#section-five{
    background-image:url('/app/uploads/2017/09/WebDesignSanDiego-black.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#section-two,
#section-three,
#section-five{
    background-color: #23282D;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.section-four h1 {
    float: left;
    clear: left;
}
.section-four h3 {
    display: none;
}

.section-four h1:nth-child(2) {
    color: #9DB7C9;
    margin-bottom: 100px;    
}

.section-four section{
    float: left;
    font-family: 'Economica';
    font-weight: 100;
    margin: 20px 0;    
}
.contact-column-right p{
    text-align: right;
}

.local{
    font-size: 17px;
}

.phone-contact{
    font-size: 25px;
}
.email-contact{
    font-size: 26px;
}

.seciton-three header{
    height:0;
}

.section-four .column p {
    color:#FFF;
    font-family: 'Helvetica Neue';
    font-weight:200;
}

.section-four .column a{
    float: none;
    position: initial;
    width: auto;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: bold;
}

.section-four .blog-preview-left h2{
    width: 100%;
    line-height: 56px;
    font-size:53px;
}

.section-four .blog-preview-right h2{
    font-size: 21px;
    margin: 0;
} 

.section-five .nf-form-cont{
    clear:left;
}

.column {
    font-family: 'Economica';
    float: left;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    transition: .4s ease-in-out;
    overflow: hidden;
  }
  .column-top {
      padding:0;
  }

  .column h1 {
    line-height: 25px;
    font-size: 27px;
  }

  .column a {
      float: right;
      position: relative;
      display: inline-block;
      cursor: pointer;
  }

  .section-two .column a:before, .section-two  .column a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: 1.5px;
    background: #fff;
  }
  
  .section-two .column a:before {
    left: -2.5px;
  }
  .section-two  .column a:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .section-two  .column a:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  
  .section-two  .column a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }

  .section-two .over{
    position: absolute;
    z-index: 3;
    background: #2B4160;
    display: none;
  }
  section.right-side.over.column.col-lg-6{
      right:0;
  }

  .section-two .over h1{
    color: #fff;
    font-size: 34px;    
  }

  .section-two .over p {
    color: #fff!important;
}

.section-two .over a {
    color: #fff;
}

  .section-two .over .strikethrough{
    background: #fff;
}

  .section-three header{
      display: initial; 
  }

  .post header {
    height: initial;
}

  .updated{
      font-family: 'Oswald';
      text-transform: uppercase;
  }

  .section-two .column p{
    color: #9db7c9;
    font-size: 20px;
    font-weight: 100;   
  }
  .section-two-btm .right-side .container p {
    color: #FFF;
    border-left: solid 6px;
    padding-left: 15px;
}

#section-two .column-top .column p {
    height: 100px;
}
  .section-two .column p:after{
    width: 50px;
    height: 1px;
    background: #FFF;
    display: inline-block;
  }
.strikethrough {
    width: 50px;
    height: 1px;
    background: #FFF;
    display: inline-block;
}

#section-four{
    background-color:#2B4160;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

  .main{
    background-color: #2B4160;
    flex: 100%!important;
    max-width: 100%!important;
  }

  .nf-form-fields-required{
      display: none;
  }

  .nf-response-msg{
    font-family: 'Economica';
    font-size: 17px;
    position: relative;
    top: 40px;
    color: #def;
  }

  .nf-field-label{
      transition: .35s ease-in;
  } 
.nf-field-label:focus{
    opacity:1!important;
    color:#fff;
}

  .ninja-forms-field{
      color:#fff;
      background: transparent;
      border:0;
      outline: none;
      transition: .35s ease-in-out;
      font-family: 'Economica';
      border-bottom: 1px solid rgba(255,255,255,.2);
  }

.ninja-forms-field:hover {
    border-bottom: 1px solid hsla(0,0%,100%,.4)!important;
}
.ninja-forms-field:focus {
    border-bottom: 1px solid hsl(0, 0%, 100%)!important;
}

.nf-after-field .nf-error-msg {
    margin-right: 0!important;
}

  .nf-error .ninja-forms-field {
    border: 0!important;
    border-bottom: 1px solid #FFFBD1!important;
    transition: .35s ease all;
    font-weight: 100!important;  
    border-radius: 0;  
}

.nf-error-msg, .ninja-forms-req-symbol {
    color: #FFFBD1!important;
    font-family: 'Economica';
    font-size:11px;
    position: absolute;    
    
}

.nf-error-required-error{
    right: 0;
}

.nf-error-msg.nf-error-field-errors {
    font-size: 16px;
    left: 0;
    right: 0;
}

.nf-error-msg.nf-error-field-errors:after{
    content: "";
    display: block;
    border-bottom: 1px solid;
    width: 34px;
    margin: 12px auto;
}
.nf-field-label{
    font-family: 'Economica';
}

.nf-field-label label{
    font-weight: 100!important;
}

.label-above .nf-field-label {
    margin-bottom: 0!important;
}

.submit-container .nf-element{
    border-bottom:0;
    cursor: pointer;
}

.submit-container{
    text-align: right;
}

.nf-field-element textarea {
    height: 27px!important;
}

.ninja-forms-req-symbol{
    display: none;
}

#nf-form-2-cont{
    width:100%;
    padding-left:15px;
    padding-right:15px;
}

.nf-form-title{
    margin: 30px 0;
}
@media(min-width:415px){

    #nf-form-2-cont{
        width: 80%;
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:1075px){
    #yelp-reviews {
        width: 100%;
        position: relative;
        top: 75px;
    }
}
@media(max-width:415px){
    .section-two .left-side .container p{
        line-height: 20px;        
    }
    #nf-field-7-container .nf-error-msg.nf-error-required-error {
        margin-top: -7px;
    }
    .nf-field-container {
        margin-bottom: 0px!important;
    }
    .contact-column-right p {
        margin: 0;
    }

    .learn-more{
        display: none;
    }
    .nf-form-title{
        margin: 30px 0;
    }

    .nf-error-msg.nf-error-field-errors {
        font-size: 12px;
    }
    #section-two{
        height: initial;
    }

    .column a {
        width: 28%;
    }

    .section-four h1:nth-child(2) {
        margin-bottom: initial;
    }

    .social-svg-list {
        display: none;
    }
    
    .single-post article.post {
        padding: initial!important;
        max-width: initial!important;
        float: initial!important;
    }

    aside.sidebar-primary {
        float: none;
        padding-top: initial;
        width: initial;
    }

    .page-error {
        font-size: 15px!important;
        width: initial!important;
    }

    .post header{
        margin-top: 75px;        
    }

    .nf-field-container{
        width: 100%!important;
        margin-left: 0!important;        
    }
}
.nf-form-wrap .ninja-forms-form-wrap{
    width: 91%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.field-wrap .submit-wrap{
    clear: left;
    float: right;
    width: 19%;
}

.nf-response-msg:after {
    content: "";
    border-bottom: solid 1px #def;
    width: 40px;
    height: 1px;
    display: inline-block;
}

.social-svg-list{
    list-style: none;
    margin:0;
}
.social-svg-list li{
    display: inline;
}

.entry-content p span {
    color: #FFF!important;
}

.form-submit #submit{
    background-color: #97BFD9;
    color: #000;
    font-family: 'Oswald';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    width: 140px;
    border: none;
    border-radius: 2px;
    cursor:pointer;
    background-image: url(/app/uploads/2017/09/iconmonstr-note-31.svg);
    background-repeat: no-repeat;
    background-position: 115px 8px;
    background-size: 12px;
    float: right;    
}

.comment-form input[type=submit]:focus{
    box-shadow: none;
}

.search .main, 
.error404 .main{
    padding: 90px;
    height: 200vh;
}

.error404 input.search-field {
    width: 235px!important;
}
.error404 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.error404 .container h1{
    font-size: 130px;
    color: #213653;
    line-height: 120px;
}

.page-error{
    font-family: 'Economica';
    font-size: 18px;
    width: 25%;
    text-align: center;
    line-height: 20px;    
}

.search-form .search-submit:focus{
    box-shadow: none;
}

@media(width:375px){
    .section-four section {
        margin: 0!important;
    }
    .local {
        font-size: 16px!important;
    }
    .phone-contact {
        font-size: 32px!important;
    }
    .email-contact {
        font-size: 25px!important;
    }

    .contact-column-left h1 {
        font-size: 23px;
        line-height: 13px;
    }

    .section-four h1:nth-child(2) {
        font-size: 38px;
        line-height: 30px;       
    }
}
@media(max-width:415px){
    .section-two-btm .column p {
        font-size: 16px!important;
        line-height:16px!important;
    }

    .section-four .column p {
        line-height: initial;
    }
}